* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    /* background-color: rgb(240, 201, 201); */
    background-image: url("w1.jpg");
}

header {
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    height: 10vh;
    background: transparent;
    /* background: rgba(0, 0, 0, 0.4); */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0, 5px, 15px;
    position: fixed;
    top: 0;
    left: 0;
}

div.logos {
    width: 25%;
    text-align: center;
    background-color: rgb(29, 48, 97);
    /* background: aqua; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 20%;
    /*         margin-left:10px; */
    cursor: pointer;
}

#hero {
    background: #081b29;
    background-image: url("w1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right0;
    padding: 0 80px;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #f5fbff;
    /* background-color: antiquewhite; */
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: aqua;
}

.mainx {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 70vh;
    height: 75vh;
    background: #081b29;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    border-radius: 50%;
}

form #search {
    width: 90%;
    height: 3rem;
    position: relative;
    left: 10px;
    /* top: 100px; */
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.4rem;
    color: black;
    /* background: transparent; */
    border: none;
    outline: none;
}

#weather {
    width: 95%;
    min-height: 50%;
    /* background: rgb(29, 48, 97); */
    position: absolute;
    padding: 10px;
    left: 0px;
    padding-top: 50px;
    text-align: center;
    color: aqua;
    font-size: 3rem;
}